<div class="row">
    <div class="col-md-4">
        <h2>Space Alert Resolver</h2>
        <p>
            A web-based automated resolver for the Resolution Phase of the board game <a href="https://boardgamegeek.com/boardgame/38453/space-alert">Space Alert</a> by Vladda Chvatil.
        </p>
        <p><a class="btn btn-default" href="http://stormtide.net/SpaceAlertResolver/">Go to Resolver</a></p>
    </div>
    <div class="col-md-4">
        <h2>Avery 16282 Labels</h2>
        <p>This site contains generators for PDF files to print onto <a href="https://www.avery.com/products/tabs/16282">https://www.avery.com/products/tabs/16282</a>.</p>
        <p>They can be attached to plastic dividers or envelopes for various games to provide organization.</p>
        <p><a class="btn btn-default" href="http://stormtide.net/Avery16282Generators/">Go to Labels</a></p>
    </div>
</div>