<div class="row">
    <div class="col-md-4">
        <h2>Space Alert Resolver</h2>
        <p>
            A web-based automated resolver for the Resolution Phase of the board game <a href="https://boardgamegeek.com/boardgame/38453/space-alert">Space Alert</a> by Vladda Chvatil.
        </p>
        <p><a class="btn btn-default" href="http://stormtide.net/SpaceAlertResolver/">Go to Resolver</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""></a></p>
    </div>-->
</div>